recursive-include  certifaiReferenceModelServer *
recursive-exclude certifaiReferenceModelServer/*/models *
recursive-exclude certifaiReferenceModelServer/*/data *
recursive-exclude certifaiReferenceModelServer/__pycache__ *

global-exclude __pycache__